html {
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-attachment: fixed;
    margin-top: 0;
    padding-top: -20px;
    padding-bottom: 200px;
    border-top: 0%;
    
}

header {
    background: rgb(236, 197, 234);
    margin-top: -60px;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 100px;
    width: 100%;
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    position: fixed;
    vertical-align: 30%;
}

.linkedin {
    display: block;
    background: url(linkedin.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: top;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.mail {
        display: block;
        background: url(mail.png);
        background-repeat: no-repeat;
        background-size: 4%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 60px;
        padding-bottom: 0px;
        margin-top: 0px;
    
    }

h2 {
    font-size: 50pt;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 197, 234);
    width: 100%;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 180px;
    background-image: url(me.jpg);
    background-position: 950px;
    background-repeat: no-repeat;
    background-size: 200px;
}

h3 {
    padding-top: 0px;
    padding-left: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(236, 197, 234);
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 18pt;
}


p.aboutme {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding-left: 150px;
    padding-right: 250px;
    padding-bottom: 100px;
    border-bottom: double rgb(236, 197, 234);
    border-width: 15px;
}

h4 {
    margin-top: 10px;
    padding-top: 60px;
    padding-left: 30px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(236, 197, 234);
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 20px;
    font-size: 18pt;
}

p.mywork {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding-left: 150px;
    padding-right: 250px;
}

p.zengarden {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin-top: 150px;
    text-align: left;
    padding-right: 260px;
    color: rgb(236, 197, 234); 
    padding-bottom: 200px;
    border-bottom: double rgb(236, 197, 234);
    border-width: 15px;
    
}

#video {
    margin-left: 250px;
  
}






footer {
    background-color: rgb(236, 197, 234);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}


  /*
  h3 {
      font-family: Arial, Helvetica, sans-serif;
      color:rgb(89, 182, 143);
      font-size: 18pt;
      text-align: center;
      padding-top: 30px;
      padding-bottom: -50px;
  }

  .summary {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(89,182,143);
      text-align: center;
      color: rgb(134, 134, 134);
      padding-top: -160px;

  }
  
  #youtubevideo {
      margin-left: 33.3%;
      size: 50%;
  }
  
  a {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(89,182,143);
      font-style: unset;
      font-size: 20px;
      padding-top: 30px;
  }
  */

  


